@layer main {
    #base-components {
        & > ul.general {
            display: flex;
            width: 100%;

            list-style: inside;

            & li {
                padding-left: calc(var(--sp-px) * 16);
                padding-bottom: calc(var(--sp-px) * 16);

                & p {
                    padding-left: calc(var(--sp-px) * 24);
                }
            }

        }

        & > ul:not(.general) {
            display: flex;
            position: relative;
            flex-wrap: wrap;

            & > li {
                padding: 0 calc(var(--sp-px) * 16);
                width: 47%;
            }

            & > li div {
                border-width: calc(var(--sp-px) * 8);
                padding: calc(var(--sp-px) * 32);
                /*margin-bottom: calc(var(--sp-px) * 2);*/
                mask: radial-gradient(calc(var(--sp-px) * 21) at 50% calc(var(--sp-px) * 21), #0000 calc(100% - var(--sp-px) * 1), #000) 50% calc(-1 * var(--sp-px) * 21)/calc(var(--sp-px) * 38.85) 100%;

            }
        }


        li div {
            &.link {
                background-color: var(--purple-3);
            }

            &.button {
                background-color: var(--purple-4);
            }

            &.heading {
                background-color: var(--purple-2);
            }

            &.list {
                background-color: var(--purple-5)
            }

            &.text {
                background-color: var(--purple-1);
            }

        }

        li button {
            --button-border-radius: 0;
            --button-background: var(--button-ghost-background);
            --button-border-color: var(--button-ghost-border);
            --button-color: var(--purple-9);
            border-bottom-color: var(--purple-9);
            font-weight: bold;
            justify-content: left;
            width: 100%;

            & svg {
                left: calc(var(--sp-px) * 8);
                position: relative;
                fill: var(--purple-9);
            }

            &[aria-expanded="true"] svg {
                rotate: 90deg;
            }

            &:hover {
                background: var(--purple-3);
                border-color: var(--purple-4);
            }
        }
    }

    @media screen and (max-width: 767px) {
        #base-components {
            & > ul:not(.general) {
                & > li, & > li div {
                    display: block;
                    width: 95%;
                    margin-left: 2.5%;
                }
            }
        }
    }


}